/* Tema gelap */
body.dark-theme table {
    background-color: #333; /* Warna background tabel gelap */
    color: #fff; /* Warna teks putih pada tabel */
}

body.dark-theme th, body.dark-theme td {
    background-color: #222; /* Warna latar belakang sel tabel lebih gelap */
    color: #fff; /* Warna teks putih pada tabel */
}

body.dark-theme th {
    background-color: #555; /* Warna abu-abu gelap untuk header */
    color: #fff; /* Warna teks header putih */
}

body.dark-theme tr:hover {
    background-color: #444; /* Warna hover lebih gelap pada tabel */
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.pagination button {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 0 5px;
    background-color: #f8f9fa;
}
.pagination .disabled {
    cursor: not-allowed;
    background-color: #e9ecef;
}
.pagination .active {
    background-color: #007bff;
    color: white;
}